---
slug: dashboard/users/edit
layout_name: modules/dashboard/layouts/dashboard
authorization_policies:
- "modules/dashboard/dashboard_access"
---
{% query_graph "modules/dashboard/dashboard_get_users", result_name: "users", id: params.slugs %}
{% assign user_id = users.users.results.first.id %}

<div class="container pt-4">
  {% include_form "modules/dashboard/user_form", resource_id: user_id %}
</div>
